nav {
  background-color: #fd9edf;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}


body {
  text-align: center;
  margin: 10;
  
}

/* Estilos generales para todas las pantallas */
body {
  font-size: 16px; /* Tamaño de fuente predeterminado */
}

/* Estilos específicos para pantallas más pequeñas, como las de los dispositivos móviles */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px; /* Reduzco el tamaño de la fuente para pantallas más pequeñas */
  }

  /* Otros estilos específicos para pantallas más pequeñas */
}


h1 {
  text-align: center;
  margin: auto;
  background-color: #d4299e;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  padding: 20px;
  transition: background-color 0.5s ease-in-out;
  font-size: 3em; /* Aumenté el tamaño del texto para más impacto */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Añadí una transición de color de texto para una animación más suave */
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out; /* Aseguré que las transiciones no se sobrescriban */
}


/*h1:hover {
  background-color: #ffcccb; /* Cambié el tono del rosa claro para un aspecto más cálido */
  /*color: #333; /* Cambié el color de texto a un tono más oscuro para mejorar el contraste */
/*}*/ 


h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, h3 {
  margin: 5;
}
h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 20px 0;
  text-align: center;
  color: #333;
  line-height: 1.6;
}

h3 u {
  text-decoration: none;
  color: #d4299e;
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase; /* Convertí el nombre propio a mayúsculas */
}

h3::before {
  content: '\2014 \00A0';
  color: #d4299e;
  font-size: 1.7em;
}

h3::after {
  content: '\00A0 \2014'; /* Agregué otro guion al final del texto */
  color: #d4299e;
  font-size: 1.7em;
}




.imagenes {
  display: flex;
  justify-content:space-evenly; /* Opcional: ajusta según tus preferencias */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-property: all;
  transition-duration: 1s;
  
}

.imagenes img{
  width: 27vw;
  height: 27vw;
  transition: transform 0.5s;
}

.cuadradoProducto {
  text-align: center;
  margin: 10px;
  padding: 10px; /* Ajusta el relleno según tus necesidades */
  border: 0.5vw;
  border-style: solid;
  border-color: rgb(255, 82, 186);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




.precio {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #840ab4;
  padding: 5px;
  transition: background-color 0.5s, color 0.5s;
  font-size: 20px;
  color: #fff;
}

  




  
}
/*.imagenes img:hover {
  transform: scale(1.1); /* Al pasar el ratón sobre la imagen, se agranda 1.5 veces su tamaño original 
}*/

a img{
  width: 1vw;
  margin: 1vw;
  
}

.whatsapp {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: #d4299e;
  font-size: 2vw;
  margin: 1vw;
  transition: transform 0.5s;
}

/* Estilo con fondo y bordes redondeados */
.whatsapp {
  display: flex; /* Utiliza flexbox para alinear los elementos en línea */
  align-items: center; /* Centra verticalmente los elementos en el contenedor */
  justify-content: center; /* Centra horizontalmente los elementos en el contenedor */
  margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
}

.whatsapp p {
  background-color: #d4299e; /* Cambia el color de fondo según tu paleta de colores */
  color: white; /* Color del texto */
  padding: 10px; /* Añade espacio alrededor del texto */
  border-radius: 8px; /* Bordes redondeados */
  margin: 0; /* Elimina el margen del párrafo para evitar espacio adicional */
  font-size: 1.5em;
}

.whatsapp img {
  width: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  transition: transform 0.5s, filter 0.5s;
  margin-left: 5px; /* Añade espacio entre la imagen y el párrafo */
}

.whatsapp img:hover {
  transform: scale(1.2);
  filter: brightness(1.1);
}






  
