body {
  text-align: center;
  
}

h1{
  text-align: center; /*se utiliza para alinear el texto dentro de un elemento en el centro del contenedor.*/
  margin-left: auto; /*tiene el efecto de centrar ese elemento horizontalmente dentro de su contenedor.*/
  margin-right: auto; /*Cuando aplicas margin-left: auto; y margin-right: auto; al mismo elemento, le estás diciendo al navegador que distribuya automáticamente el espacio disponible en ambos lados del elemento de manera equitativa, logrando así el centrado horizontal*/
  position: center;
  background-color: #d4299e;
  color: rgb(255, 255, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%; /* */
  height: 5vw;
  background-color: rgb(225, 0, 255);
  transition-property: width, background-color;
  transition-duration: 1s; /* Duración de la transición en segundos */
  font-size: 2em;

    /* Centrado horizontal y vertical */
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  h1:hover {
    width: 100%; /*vw en vez de pixeles ,Esto permitirá que los elementos se ajusten proporcionalmente al tamaño de la pantalla */
    background-color: rgb(255, 251, 0);
    color: black;
    text-align: center;

  }

h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, h3 {
  margin: 5;
}

.imagenes {
  display: flex;
  justify-content: space-around; /* Opcional: ajusta según tus preferencias */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-property: all;
  transition-duration: 1s;
  
}

/*.imagenes:hover{

  display: flex;
  text-align: center;
  margin: 6px;
  border: 4px;
  border-width: 0.5em;
  
  

  
}*/

.producto {
  text-align: center;
  margin: 0.5vw; /*vw en vez de pixeles ,Esto permitirá que los elementos se ajusten proporcionalmente al tamaño de la pantalla */
  border: 0.5vw;
  border-style: solid;
  border-color: palevioletred;
  transition-property: all;
  transition-duration: 1s;
  
  
  
}

.producto:hover{
  text-align: center;
  margin: -2.5%; /*vw en vez de pixeles ,Esto permitirá que los elementos se ajusten proporcionalmente al tamaño de la pantalla */
  margin-bottom: 5%;
  border: 0.5vw;
  border-style: solid;
  border-color: rgb(26, 76, 255);
  transition-property: all;
  transition-duration: 1s;
  color: rgb(6, 255, 31);

}





.precio {
  font-weight: bold;
  font-size: 1.5vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  ;

  }
  



.imagenes img{
  width: 20vw;
  height: 20vw;
  transition: transform 0.5s;

  
}
/*.imagenes img:hover {
  transform: scale(1.1); /* Al pasar el ratón sobre la imagen, se agranda 1.5 veces su tamaño original 
}*/

a img{
  width: 1vw;
  margin: 1vw;
  
}

.whatsapp{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: #d4299e;
  font-size: 2vw;
  margin: 1vw;
}

.whatsapp p{
  margin: 0.5vw;
}

.whatsapp img{
  width: 8vw;
  height: 8vw;
  transition: transform 0.5s;
}

.whatsapp img:hover{
  transform: scale(1.2);

}