body {
  text-align: center;
  
}

h1 {
  text-align: center;
  margin: auto;
  background-color: #d4299e;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  padding: 20px;
  transition: background-color 0.5s ease-in-out;
  font-size: 3em; /* Aumenté el tamaño del texto para más impacto */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Añadí una transición de color de texto para una animación más suave */
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

h1:hover {
  background-color: #ffcccb; /* Cambié el tono del rosa claro para un aspecto más cálido */
  color: #333; /* Cambié el color de texto a un tono más oscuro para mejorar el contraste */
}


h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, h3 {
  margin: 5;
}

.imagenes {
  display: flex;
  justify-content: space-around; /* Opcional: ajusta según tus preferencias */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-property: all;
  transition-duration: 1s;
  
}

/*.imagenes:hover{

  display: flex;
  text-align: center;
  margin: 6px;
  border: 4px;
  border-width: 0.5em;
  
  

  
}*/

.producto {
  text-align: center;
  margin: 1vw; /*vw en vez de pixeles ,Esto permitirá que los elementos se ajusten proporcionalmente al tamaño de la pantalla */
  border: 0.5vw;
  border-style: solid;
  border-color: palevioletred;
  transition-property: all;
  transition-duration: 1s;
  
  
  
}

.producto:hover{
  text-align: center;
  margin: -2.5%; /*vw en vez de pixeles ,Esto permitirá que los elementos se ajusten proporcionalmente al tamaño de la pantalla */
  margin-bottom: 5%;
  border: 0.5vw;
  border-style: solid;
  border-color: rgb(26, 76, 255);
  transition-property: all;
  transition-duration: 1s;
  color: rgb(6, 255, 31);

}





.precio {
  font-weight: bold;
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  ;

  }
  



.imagenes img{
  width: 20vw;
  height: 20vw;
  transition: transform 0.5s;

  
}
/*.imagenes img:hover {
  transform: scale(1.1); /* Al pasar el ratón sobre la imagen, se agranda 1.5 veces su tamaño original 
}*/

a img{
  width: 1vw;
  margin: 1vw;
  
}

.whatsapp{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: #d4299e;
  font-size: 2vw;
  margin: 1vw;
}

.whatsapp p{
  margin: 0.5vw;
}

.whatsapp img{
  width: 8vw;
  height: 8vw;
  transition: transform 0.5s;
}

.whatsapp img:hover{
  transform: scale(1.2);

}